.gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.gradiant-add {
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* The flash-error message box */
.flash-error {
  padding: 15px;
  background-color: #f44336; /* Red */
  color: white;
}

/* The flash-success message box */
.flash-success {
  padding: 15px;
  background-color: green; /* green */
  color: white;
}

/* The close button of flash messages */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* The login in the navbar when connected */
.navbar-login {
  texxt-color: #319E82;
}

/* Gradiant white */
.gradiant-white {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

/* Bouton supprimer */
.bouton-confirm {
  size: 300px;
}
