{% extends 'layout.html' %}
{% block title %} Ajouter un contrat {% endblock %}
{% block main %}
<section class="gradiant-add vh-100">
    <div class="container h-100">
        <div class="row justify-content-md-center">
            <div class="col-md-auto mt-5">
                <h1 class="text-light">Ajouter un contrat</h1>
            </div>
        </div>
        <div class="row justify-content-md-center mt-5">
            <div class="col-md-auto card bg-dark text-white" style="border-radius: 1rem; padding:10pt;">
                <!-- Formulaire -->
                <form method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <div class="form-group">
                                <label>Date du début du contrat</label>
                                <input type="date" class="form-control" name="date_deb" required>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="form-group">
                                <label>Date de la fin du contrat</label>
                                <input type="date" class="form-control" name="date_fin" required>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-center">
                        <div class="col-md-auto">
                            <div class="form-group">
                                <label>Enseignant référent</label>
                                <select name="id_referent" class="form-select form-select-lg mb-3">
                                    <!-- à méditer, ca dépend si enseignant peut etre réferent de plusieurs vacataires-->
                                    {% for enseignant in enseignants %}
                                    <option value="{{enseignant['id_enseignant']}}">{{enseignant['nom']}} {{enseignant['prenom']}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="form-group">
                                <label>Enseignant vacataire</label>
                                <select name="id_vacataire" class="form-select form-select-lg mb-3">
                                    {% for vacataire in vacataires %}
                                    <option value="{{vacataire['id_vacataire']}}">{{vacataire['nom']}} {{vacataire['prenom']}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-center">
                        <div class="col-md-auto">
                            <div class="form-group">
                                <button class="btn btn-outline-light btn-lg" type="submit">Ajouter</button>
                                <a href="{{url_for('liste_contrats')}}" class="btn btn-outline-light btn-lg">Annuler</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Formulaire -->
            </div>
        </div>
    </div>
</section>
{%endblock%}