{% extends "layout.html" %}
{% set endpoint = 'enseignants' %}
{% block title %}Enseignants{% endblock %}

{% block main %}
<div class="container">
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h1>Tableau des Enseignants</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Identifiant</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tél.</th>
                        <th scope="col">Login</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for elm in enseignants %}
                    <tr>
                        <th class="text-center" scope="row">{{ elm['id_enseignant']}}</th>
                        <td>{{ elm['nom'] }}</td>
                        <td>{{ elm['prenom'] }}</td>
                        <td>{{ elm['email'] }}</td>
                        <td>{{ elm['tel'] }}</td>
                        <td>{{ elm['login'] }}</td>
                        <td><a href="{{ url_for('edit_enseignant', id_enseignant=elm['id_enseignant'])}}">
                            <button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i></button>
                        </a></td>
                        <td><a href="{{ url_for('delete_enseignant', id_enseignant=elm['id_enseignant']) }}">
                            <button type="button" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i></button>
                        </a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="8">{{enseignants | count}} Enseignants</th>
                    </tr>
                    </tfoot>
                </table>
                <a class="btn btn-outline-success" href="{{ url_for('add_enseignant') }}">Ajouter un enseignant</a>
            </div>
        </div>
    </div>
</div>    
    
    

{% endblock %}